*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IBM Plex Sans', sans-serif;
}


.book_a_visit{
	    height: auto;
    max-width: 100%;
    vertical-align: top;
}



.carousel-item img {
	width:100%;
	height: 93vh;
}

.about_img {
	min-width: 100%;
	max-height: 580px;
}

.book_a_visit{
	width: 100%
}

.offer_style {
	background: #a6dcef;
	/*color: red;*/
}




footer p {
	margin-bottom: 0;
}
/* X-Small devices (portrait phones, less than 576px)
/ No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/